body{
    background-color: rgb(200, 158, 240);
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding: 400px;
    
}

p{
    background-color: rgb(230, 196, 104);
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
}
a{
    color: white;
    font-size: 19px;
    text-align: center;
 
}