body{
    background-color: rgb(204, 174, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 300px;
}
p{
    font-size: 20px;
    
}
button{
    width: 20%;
    /*tamanhao do butao*/
    height: 30px;
    /*lagura*/
    border-radius: 8px;
    /*as bordas redondas*/
    border:none;
    /*serve para tira as bordas do butao*/
    background-color: rgb(127, 138, 126);
    color: white;
    font-size: 20px;
    cursor: pointer;
    /*passa o mouse */
}