* {
    margin: 0;
    /*margem do site*/
    padding: 0;
    /*espasamento interno do site*/
}

body {
    background-color: #8f8c8a
}

h1{
    color: rgb(244, 248, 253);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgb(78, 92, 92);
    justify-content: center;
    
}

header {
    background-color: rgb(14, 12, 12);
    padding: 20px 80px;
    list-style: none;
    

}


nav ul {
    display: flex;
    /* tiro de coluna e passo para linha*/
    justify-content: center;
    /*centralizar o centro do menu*/
    list-style: none;
    /*tira os macadores da lista não ordenadas*/
    
}



 img {
    width: 150px;
    /* alterando a lagura da minha imagem*/
    height: auto;
}

main {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    
}

header nav ul li a {
    color: white;
    /* muda a cor da letras*/
    text-decoration: none;
    /* Tira a linha do texto */
    font-weight: bold;
    /* deixa a letra do menu negrito */
    padding: 6px 10px;
    /* espaçamento entre menu*/
    border-radius: 10px;
    font-size: 20px;
    
}

header nav ul li a:hover{
    background-color: rgb(231, 13, 13);
    color: rgb(247, 244, 244);
}


section{
    padding: 60px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100px;
}
 p{
    color: rgb(95, 56, 41);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
    font-size: 25px ;
 }

 footer{
    background-color: rgb(14, 12, 12);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
 }
 
 ol{
    color: rgb(95, 56, 41);
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    justify-content: center;
    
    
 }

 #home img{
     width: 275px;
     height: auto;
     padding: 5px 5px;
 }
