body{
    background-color: rgb(200, 158, 240);
    color: white;
    text-align: center;
    margin: 0;
    padding: 200px;
  
}

a{
    background-color: rgb(230, 196, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 221, 221);
    height: 150px;
    width: 100%;
    border-radius: 4px;
    font-size: 40px;
}